/* 通用设置 */
* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif;
}
body {
    background-color: #d8d8d8;
}

/* 设置导航栏样式 */
header {
    background-color: #333333;
    height: 60px;
    position: relative;
}
header h1 {
    color: white;
    position: absolute;
    bottom: 6%;
    left: 1%;
}
header ul {
    list-style-type: none;
    position: absolute;
    bottom: 8%;
    right: 1%;
}
header li {
    display: inline;
}
header a {
    color: white;
    text-decoration: none;
}
header li a:hover {
    color: red;
}

/* 设置文章样式 */
.article,
aside {
    background-color: #fff;
    margin: 25px;
    padding: 25px;
    box-shadow: 10px 10px 5px #888888;
}
h2,h3,h5,p {
    padding: 10px;
}
h3 {
    color: rgba(90,90,90,0.8);
    font-size: 1.1rem;
}
h5 {
    color: rgba(100,100,100,0.5);
    font-size: 0.8rem;
}
p {
    text-indent: 2em;
}

/* 设置列表样式 */
section ul {
    margin-left: 30px;
    list-style: none;
}
section ol {
    margin-left: 30px;
    padding: 10px 0 0 20px;
}

/* 设置图片样式 */
.picture {
    display: flex;
    justify-content: space-evenly;
}
.picture-img {
    border: 1px solid black;
    padding: 10px;
}
.picture-text {
    text-align: center;
    text-indent: unset;
}

/* 设置表格样式 */
table {
    border-collapse: collapse;
    width: 50%;
    margin: 10px;
}
th {
    background-color: black;
    color: white;
}
td {
}

/* 设置侧栏样式 */
aside form {
    position: relative;
}
.form-input {
    display: block;
    text-align: center;
}
#form-submit {
    background-color: #3355d0;
    color: white;
    width: 80%;
    height: 40px;
    border-radius: 15px;
}
#password-text {
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: rgba(100, 100, 100, 0.8);
}

/* 底部设置 */
footer {
    position: relative;
    background-color: #333;
    height: 50px;
}
.footer-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}